
profiles {

    standard {
        includeConfig 'conf/base.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
    
    singularity_cpu {
        
        includeConfig 'conf/singularity_base.config'

        singularity {
            runOptions = "-B $SUBS_DIR"
        }

        process {
            withName: 'setup_data_directory' {
                container = "quay.io/mkeays/hubmap-image-tools"
            }

            withName: 'create_yaml_config' {
                container = "quay.io/mkeays/hubmap-image-tools"
            }
        }
    }

    singularity_gpu {
        
        includeConfig 'conf/singularity_base.config'

        singularity {
            runOptions = "--nv -B $CYTOKIT_DATA_DIR:/lab/data -B $CODEX_PIPELINE_CODEBASE -B $SUBS_DIR"
        }

        process {
            withName: 'run_cytokit_processor' {
                container = "eczech/cytokit:latest"
                clusterOptions = "-p GPU --gres=gpu:k80:2 --mem=0 -t 4:00:00"
            }
        }
    }
}

