singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$SINGULARITY_CACHEDIR"
    envWhitelist = "CYTOKIT_DATA_DIR, CODEX_PIPELINE_CODEBASE, SUBS_DIR, SINGULARITY_CACHEDIR"
}

process {
    maxRetries = 2
    maxErrors = '-1'
    errorStrategy = 'terminate'

    withLabel: cpu {
        containerOptions = "-B $SUBS_DIR"
    }

    withLabel: gpu {
        containerOptions = "--nv -B $CYTOKIT_DATA_DIR:/lab/data -B $CODEX_PIPELINE_CODEBASE -B $SUBS_DIR"
    }

    withName: 'setup_data_directory' {
        container = "quay.io/mkeays/codex-pipeline"
    }

    withName: 'create_yaml_config' {
        container = "quay.io/mkeays/codex-pipeline"
    }
    
    withName: 'run_cytokit_processor' {
        container = "eczech/cytokit:latest"
        clusterOptions = "-p GPU --gres=gpu:k80:2 --mem=0 -t 4:00:00"
    }
}

